@font-face {
  font-family: "hero-beam";
  src: url("images/HEROBEAM-Regular.ttf")
}

@font-face {
  font-family: "goudy-handtooled";
  src: url("images/GoudyHandtooled.ttf")
}

@font-face {
  font-family: "berkeley";
  src: url("images/BerkeleyStd-Medium.otf")
}

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  background-image: url('images/ancient.png');
  background-size: cover;
  background-position: center;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  background-attachment: fixed;
}

.gear-container {
  position: absolute;
}

.return {
  color: transparent;
  background: #4f3901;
  -webkit-background-clip: text;
  text-shadow: 2px 4px 4px rgba(255, 255, 255, 0.288);
  text-decoration: none;
}

#gear-container-1 {
  left: -50px;
  bottom: 100px;
}

#gear-container-2 {
  right: -100px;
  top: 200px;
}

.gear{
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  background: rgb(102, 102, 102);
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.gear .center{
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 10;
  width: 100px;
  height: 100px;
  background: rgb(54, 54, 54);
  border-radius: 50%;
}

.tooth{
  position: absolute;
  top: -25px;
  left: 75px;
  z-index: 1;
  width: 45px;
  height: 250px;
  background:rgb(102, 102, 102);
}

.tooth:nth-child(2){
  transform: rotate(45deg);
}

.tooth:nth-child(3){
  transform: rotate(90deg);
}

.tooth:nth-child(4){
  transform: rotate(135deg);
}

@keyframes spin {
  from {transform: rotate(0deg); }
  to {transform: rotate(360deg);}
}

.sec {
  width: 100%;
  min-height: 100vh;
  /* background-color: red; */
}

#sec-2 {
  /* background-color: blue; */
}

.archive {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px 20px 0 0;
  background-color: red;
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 85%;
  min-height: 100vh;
  /* background-color: red; */
  position: relative;
  /* background-color: blue; */
  /* padding: 50rem 3rem; */
}

#wrapper-2 {
  /* background-color: green; */
  /* justify-content: space-AORUN; */
  /* position: relative; */
  /* justify-content: space-between; */
  /* background-color: blue; */
}

#scroll-up-container {
  /* position: absolute; */
  height: fit-content;
  /* top: 720px; */
}

.header {
  width: 100%;
  /* position: absolute; */
  /* bottom: 630px; */
  top: 10px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

/* #about-us-header {
  position: absolute;
  top: 10px;
} */

/* .board {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.title {
  font-family: 'hero-beam';
  /* text-align: center; */
  font-size: 35px;
  color: #D5AD6D;
  background: -webkit-linear-gradient(transparent, transparent),
              -webkit-linear-gradient(top, rgb(211, 198, 181) 0%, 
              rgba(179,150,91) 50%, rgba(162,136,73) 100%);
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  /* margin: 0 auto;
  left: 0;
  right: 0;
  top: 45px; */
  filter: drop-shadow(5px 5px 3px black);
  -webkit-text-stroke: 0.1px rgb(132, 74, 20);
  cursor: default;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* bottom: 485px; */
  top: 160px;
  width: 100%;
  /* background-color: yellowgreen; */
}

.ornament {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  /* padding-left: 30px;
  padding-right: 30px; */
}

.ornament img {
  width: 300px;
  height: 150px;
  padding-right: 8px; 
}

.button {
  font-family: 'hero-beam';
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  justify-content: space-between;
  color: transparent;
  background: #4f3901;
  -webkit-background-clip: text;
  text-shadow: 2px 4px 4px rgba(255, 255, 255, 0.288);
  transition: 0.2s all linear;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.button p, .button a {
  transition: text-shadow 0.35s, color 0.25s;
  /* text-decoration: none; */
}

.button:hover p, .button:hover a {
  color: white;
  text-shadow:  0 0 20px #fff, 
                0 0 30px #ffffff, 
                0 0 40px #8c8c8c, 
                0 0 50px #646464, 
                0 0 60px #ffffff, 
                0 0 70px #777777, 
                0 0 80px #aeaeae;
}

.button:active p, .button:active a {
  color: black;
}

.excel-container {
  width: 320px;
  height: 200px;
  /* background-color: red; */
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.sub-excel-container {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  /* background-color: green; */
}

.speech-container {
  height: 50%;
  width:  100%;
  display: flex;
  position: relative;
  /* background-color: blue; */
}

.talk-bubble {
  display: inline-block;
  position: absolute;
	width: 220px;
	height: 70px;
	background-color: lightyellow;
  left: 60px;
}

.border{
  border: 8px solid #666;
}

.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}

.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 2px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;
}

.main-container {
  display: block;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  /* bottom: 0; */
  top: 390px;
  /* background-color: green; */
}

.sub-container {
  height: 100px;
  width: 900px;
  display: block;
}

#sub-container-1 {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  position: relative;
}

#sub-container-3 {
  display: flex;
  justify-content: space-between;
  width: 750px;
  position: relative;
  /* background-color: white; */
}

.track {
  position: absolute;
  width: 95%;
  height: 200px;
  /* background-color: blue; */
  bottom: 0;
  display: flex;
  justify-content: center;
}

.sub-track {
  /* background-color: green; */
  width: 50%;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.excel, .csv {
  height: 110px;
  width: 110px;
  position: absolute;
}

.conveyor-belt {
  width: 100%;
  height: 100%;
  border-radius: 200px;
  background-image: url(images/radial.png);
  background-position: center;
  background-size: 105%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 10px rgb(0 0 0 /0.2);
}

.sub-conveyor-belt ul {
  width: 98%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.sub-conveyor-belt {
  width: 96%;
  height: 80%;
  /* background-color: rgb(246, 214, 131); */
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/something.jpg);
  background-blend-mode: hard-light;
  /* background-color: blue; */
}

.sub-conveyor-belt img {
  width: 75px;
  height: 75px;
}

.support-container {
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.support {
  height: 100%;
  width: 20px;
  background-color: rgb(35, 35, 35);
}

.beam {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  background-color: rgb(35, 35, 35);
}

.main-machine-part {
  height: 200px;
  width: 300px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main-machine-body {
  height: 200px;
  width: 250px;
  background-image: url(images/rusty2.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 10px rgb(0 0 0 /0.15);
}

.sub-machine-body {
  position: absolute;
  height: 170px;
  width: 220px;
  background-image: url(images/rusty.jpg);
  background-size: contain;
  box-shadow: 0 0 10px 10px rgb(0 0 0 /0.4);
}

.opening {
  height: 132px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url(images/rusty.jpg);
  box-shadow: 0 0 10px 10px rgb(0 0 0 /0.15);
}

.partition {
  height: 22px;
  width: 100%;
  background-image: url(images/rusty2.jpg);
  box-shadow: 0 0 10px 10px rgb(0 0 0 /0.15);
}

.chains-container {
  bottom: 200px;
  position: absolute;
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chains-container img {
  height: 600px;
  opacity: 60%;
}

.gauge-body {
  position: absolute;
  z-index: 3;
}

.gauge-body img {
  width: 150px;
  height: 150px;
}

.pointer{
  position: absolute;
  display: flex;
  bottom: 35px;
  z-index: 4;
  align-items: center;
  animation: pointerRotate 5s infinite ease-in-out;
}

.cog-ani {
  animation: gearRotate 1s linear infinite;
}

.cog-ani-finite {
  animation: gearRotate 3s linear;
}

@keyframes gearRotate {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

@-webkit-keyframes gearRotate {
  0% {-webkit-transform: rotate(0);}
  100% {-webkit-transform: rotate(360deg);}
}

@keyframes pointerRotate {
  0% {transform: rotate(0);}
  100% {transform: rotate(270deg);}
}

@-webkit-keyframes pointerRotate {
  0% {-webkit-transform: rotate(0);}
  100% {-webkit-transform: rotate(270deg);}
}

.svgHorizontalMove {
  animation: horizontalMove 3s linear forwards;
}

@keyframes horizontalMove {
  0% {transform: translateX(0);}
  100%{transform: translateX(300px);}
}

.scroll-container {
  /* position: absolute; */
  /* top: 720px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.scroll-instruction-container {
  position: relative;
  width: 310px;
  height: 50px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-instruction {
  position: absolute;
  font-size: 17px;
  cursor: default;
}

#scroll-down-instruction {
  animation: scroll-down-text 1s ease-in-out infinite;
  top: 10%;
  cursor: default;
  font-family: berkeley;
}

.scroll-down {
  margin-right: 10px;
  position: relative;
  height: 50px;
  width: 30px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  background-color:rgb(255, 236, 184);
}

.scroll-down:before,
.scroll-down:after {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid black;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -80%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down:after {
  top: 30%;
  animation-delay: .3s;
}

@keyframes scroll-down {
  0% {opacity: 0;}
  30% {opacity: 1;}
  60% {opacity: 1;}
  100% {opacity: 0; top: 90%;}
}

@keyframes scroll-down-text {
  0% {opacity: 0;}
  30% {opacity: 1;}
  60% {opacity: 1;}
  100% {opacity: 0; top: 50%;}
}

@keyframes scroll-up {
  0% {opacity: 0;}
  30% {opacity: 1;}
  60% {opacity: 1;}
  100% {opacity: 0; top: 30%;}
}

@keyframes scroll-up-text {
  0% {opacity: 0;}
  30% {opacity: 1;}
  60% {opacity: 1;}
  100% {opacity: 0; bottom: 50%;}
}

.disappears {
  animation: disappears 0.5s ease-in-out forwards;
}

@keyframes disappears {
  0% {opacity: 100%;}
  100% {opacity: 0%;}
}

.scroll-up-container {
  top: 0;
}

.instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* bottom: 420px; */
  top: 320px;
  width: 700px;
  flex-basis: 0;
  padding: 0 60px;
  /* background-color: blue; */
}

.instruction-words {
  display: flex;
  text-align: center;
  font-family: berkeley;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
  justify-content: center;
}

.scroll-up {
  margin-right: 10px;
  position: relative;
  height: 50px;
  width: 30px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  background-color:rgb(255, 236, 184);
}

.scroll-up:before,
.scroll-up:after {
  content: '';
  position: absolute;
  top: 90%;
  left: 50%;
  border: 2px solid black;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -80%) rotate(-135deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-up 1s ease-in-out infinite;
}

.scroll-up:after {
  top: 90%;
  animation-delay: .3s;
}

#scroll-up-instruction {
  animation: scroll-up-text 1s ease-in-out infinite;
  bottom: 10%;
}

/* .about-us-word {
  font-family: 'hero-beam';
  text-align: center;
  font-size: 45px;
  color: #D5AD6D;
  background: -webkit-linear-gradient(transparent, transparent),
              -webkit-linear-gradient(top, rgb(211, 198, 181) 0%, 
              rgba(179,150,91) 50%, rgba(162,136,73) 100%);
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 45px; 
  filter: drop-shadow(5px 5px 3px black);
  -webkit-text-stroke: 0.1px rgb(132, 74, 20);
  cursor: default;
} */

.about-us-desc {
  /* position: absolute; */
  /* padding-top: 90px; */
  font-family: berkeley;
  font-size: 30px;
  text-align: center;
  /* padding-left: 220px;
  padding-right: 220px; */
  padding: 50px 100px;
  /* top: 150px; */
  /* background-color: blue; */
}

.people-information {
  width: 1000px;
  /* background-color: grey; */
  /* position: relative; */
}

.people {
  /* position: absolute; */
  /* position: absolute; */
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-around;
  /* padding: 30px 30px 30px 20px; */
  /* background-color: red; */
  width: 100%;
  flex-wrap: wrap;
  /* top: 230px; */
}


.people-info {
  width: 20%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: greenyellow; */
}

.people-info img {
  width: 100%;
  height: 100%;
}

.names {
  display: flex;
  /* flex-direction: row; */
  align-content: center;
  justify-content: space-around;
  width: 100%;
  /* background-color: orange; */
}

.ind-name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: grey; */
  font-family: hero-beam;
  font-weight: 700;
  font-size: 24px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.53);
  transition: text-shadow 0.35s, color 0.25s;
  text-decoration: none;
  transition: 0.2s all linear;
}

.ind-name:active {
  color: black;
}

.ind-name:hover {
  cursor: pointer;
  transform: scale(1.15);
  color: white;
  text-shadow:  0 0 20px #fff, 
                0 0 30px #ffffff, 
                0 0 40px #8c8c8c, 
                0 0 50px #646464, 
                0 0 60px #ffffff, 
                0 0 70px #777777, 
                0 0 80px #aeaeae;
}

.ind-name:visited {
  color: rgb(0, 0, 0);
}


@media only screen and (max-width: 1080px) {
  .instructions {
    width: 850px;
  }
  
  .conveyor-belt {
    background-size: 115%;
  }

  .board {
    width: 500px;
  }

  .title {
    font-size: 30px;
  }

  .button {
    font-size: 23px;
  }

  .ornament {
    display: flex;
  }

  .ornament img {
    width: 250px;
  }
  
  .sub-container {
    height: 100px;
    width: 750px;
    display: block;
  }

  @keyframes horizontalMove {
    0% {transform: translateX(0);}
    100%{transform: translateX(250px);}
  }

  .talk-bubble {
    width: 150px;
  }

  #cog-10 {
    display: none;
  }

  .conveyor-belt {
    background-size: 770px 115px;
  }

  .people-information {
    width: 800px;
  }

  .people-info {
    height: 200px;
  }
  
  .ind-name {
    font-size: 20px;
  }

  .about-us-desc {
    font-size: 25px;
  }
}

@media only screen and (max-width: 900px) {
  .instructions {
    width: 820px;
  }

  .board {
    width: 470px;
  }

  .title {
    font-size: 27px;
  }
  
  .ornament {
    display: flex;
  }

  .ornament img {
    width: 230px;
    height: 140px;
  }

  .sub-container {
    height: 100px;
    width: 650px;
    display: block;
  }

  #cog-9 {
    display: none;
  }

  @keyframes horizontalMove {
    0% {transform: translateX(0);}
    100%{transform: translateX(190px);}
  }

  .button {
    font-size: 20px;
  }

  .talk-bubble {
    width: 110px;
  }

  .conveyor-belt{
  background-size: 660px 115px
  }

  .people-information {
    width: 670px;
  }

  .people-info img {
    height: 170px;
  }
  
  .ind-name {
    font-size: 15px;
  }

  .about-us-desc {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .instructions {
    width: 750px;
  }

  .board {
    width: 450px;
  }

  .button {
    font-size: 19px;
  }
  
  .ornament img {
    width: 210px;
    /* height: 140px; */
  }

  .sub-container {
    height: 100px;
    width: 630px;
    display: block;
  }

  #cog-8 {
    display: none;
  }

  @keyframes horizontalMove {
    0% {transform: translateX(0);}
    100%{transform: translateX(190px);}
  }

  .button {
    font-size: 20px;
  }

  .talk-bubble {
    width: 100px;
  }

  .conveyor-belt {
    background-size: 630px 115px;
  }

  /* .box, .instructions {
    display: grid;
  }

  .box .ornament, .instructions .instruction-words {
    grid-column-start: 1;
    grid-row-start: 1;
  } */

  .instructions {
    bottom: 450px;
  }

  .people-information {
    width: 600px;
  }

  .people-info img {
    height: 150px;
  }
  
  .ind-name {
    font-size: 13px;
  }

  .about-us-desc {
    font-size: 17px;
  }

  .people-info {
    width: 120px;
    height: 200px;
    /* display: flex;
    justify-content: center;
    align-items: center;*/
    margin: 0 40px;
    /* background-color: greenyellow; */
  }

  .people-information {
    width: 400px;
  }

  /* .people {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
  } */
}
